.button-container   {
    background-color: rgb(209, 157, 157);
    
    border: 1px solid purple;
    width: 120px;
    height: 30px;

    font-size: medium;
    font-weight: bold;
    justify-content: center;
    .label   {
        padding:5px;
    }
}